.language-toggle {
    // width: 80px;
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    width: 80px;
    background-color: rgba($color-light-mode-primary, .7);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transition: $animation-colors-short, $animation-translations-short;

    &:focus,
    &:focus-visible,
    &:hover {
        outline: none;
        outline-offset: 0;
        text-decoration: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
        outline: none;
    }

    &:active {
        transform: scale(.9);
    }

    &__lng {
        @include font("extra-bold");
        font-size: 18px;
        z-index: 1;
        display: flex;
        flex: 1;
        justify-content: center;
        transition: $animation-colors-short;

        &.fr {
            color: $color-light-mode-tertiary
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba($color-light-mode-primary, .8);
        border-radius: 10px 0 0 10px;
        transition: $animation-translations-short;
    }
    
    &.is-active {
        .language-toggle__lng {
            &.fr {
                color: $color-light-mode-secondary;
            }

            &.en {
                color: $color-light-mode-tertiary;
            }
        }

        &::before {
            margin-right: 0;
            margin-left: 50%;
            border-radius: 0 10px 10px 0;
        }
    }
}