$catalog-height-desktop: 150px;
$catalog-height-mobile: 70px;

.project-card {
    width: 100%;
    display: flex;

    // .sticky-loader {
    //     width: 20px;
    //     background: rgb(2,0,36);
    //     background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    // }
    
    &__wrapper {
        position: sticky;
        top: $catalog-height-mobile;
        height: calc(100vh - $catalog-height-mobile - $site-gutter-mobile);
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        background-color: $color-light-mode-primary;
        transition: border-radius $timing-short ease-in-out;

        @include mq('m') {
            top: $catalog-height-desktop;
            height: calc(100vh - $catalog-height-desktop - $site-gutter-desktop);
        }

        &.is-sticky {
            border-radius: 0 0 10px 10px;
        }
    }

    &__img-wrapper {
        position: relative;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        &__title {
            @include font('extra-bold');
            font-size: 40px;
            color: $color-light-mode-primary;
            text-shadow: 1px 1px 2px $color-light-mode-secondary;
        }

        &__scroll-down {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 60px;
            border: 3px solid $color-light-mode-tertiary ;
            border-radius: 15px;

            
            &::before {
                content: '';
                position: absolute;
                inset: 4px 0 34px 4px;
                width: 16px;
                border-radius: 8px;
                background-color: $color-light-mode-tertiary;
                animation: scroller 1500ms ease-out infinite;
            }
        }

        @keyframes scroller{
            0%{
              bottom: 34px;
            }
            5%{
              top: 4px;
            }
            32%{    
              bottom: 4px;
            }
            66%{
              top: 34px;
              bottom: 4px;
            }
            100%{
              top: 4px;
              bottom: 34px;
            }
          }
    }

    &__content {
        padding: $site-gutter-mobile;
        min-height: 100%;

        
        @include mq('m') {
            display: flex;
            padding: $site-gutter-desktop
        }

        .project-infos {
            
            @include mq('m') {
                position: sticky;
                height: 100%;
                top: 0;
                flex-shrink: 0;
                margin-right: 40px;
            }

            h2 {
                @include font('extra-bold');
                font-size: 30px;
                text-align: left;
                text-transform: uppercase;
            }

            &__jobs {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;

                p {
                    color: $color-light-mode-grey;
                    line-height: 1.5;
                    text-transform: uppercase;
                }
            }

            &__tools {
                display: flex;
                flex-direction: column;
                align-items: flx-start;
                margin-top: 30px;

                li {
                    display: flex;
                    align-items: center;
                    margin: 5px 0;
                    
                    .icon {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }

            }

            &__ressources {
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                margin-top: 30px;

                li {
                    width: 100%;
                    margin: 5px 0;

                    .button {
                        width: 100%;
                    }
                }
            }
        }

        .project-content {
            margin-top: 30px;
            width: 100%;

            &__text,
            &__img {
                &:not(:first-child) {
                    margin: 50px 0;
                }
            }

            &__video {
                margin: 100px 0;
            }

            a {
                text-decoration: underline;
                color: $color-light-mode-link;

                &:hover {
                    color: $color-light-mode-link-hover;
                }

                &:focus,
                &:focus-visible {
                    color: $color-light-mode-link-focus;
                    outline: 2px solid $color-light-mode-link-focus;
                }

                &:active {
                    color: $color-light-mode-link-active;
                    outline: none;
                }
            }

            ul {
                padding: 5px;

                li {
                    margin-left: 15px;
                    margin-bottom: 4px;
                    list-style: none;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '\2022';
                        color: $color-light-mode-tertiary;
                        width: 1em;
                        font-size: 20px;
                        font-weight: bold;
                        margin-left: -1em;
                    }
                }
            }
        }
    }

    &.dark-mode {
        .project-card__wrapper {
            background-color: $color-dark-mode-primary;
        }

        .project-card__content .project-infos__tools .icon {
            fill: $color-dark-mode-secondary;
        }
    }
}