body {
  width: 100%;
  height: auto;
  @include font(regular);

  background-color: $color-light-mode-bg;
  color: $color-light-mode-secondary;
  transition: $animation-colors-short;

  &.dark-mode {
    background-color: $color-dark-mode-bg;
    color: $color-dark-mode-secondary;
  }
}

button {
cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

.app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrapper {
  width: 100%;
  transition: $animation-translations-short;
  
 @include mq(l) {
    max-width: 1440px;
  }
}