body {
  width: 100%;
  height: auto;
  @include font(regular);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

button {
cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

.app {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: $color-light-mode-bg;
  color: $color-light-mode-secondary;
  transition: $animation-colors-short;

  &.dark-mode {
    background-color: $color-dark-mode-bg;
    color: $color-dark-mode-secondary;
  }
}
