// Map fonts
// -----------------------------------------------------------------------------
$font-weights: (
  thin : 200,
  light : 300,
  regular : 400,
  medium : 600,
  bold : 700,
  extra-bold : 800,
  black : 900,
);

@mixin font($weight: inherit) {
    font-family: "rounded1c";
    font-weight: map-get($font-weights, $weight);
}

// Hide element only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;

    &--focusable {
        &:active,
        &:focus {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }
    }
}