// Colors
// -----------------------------------------------------------------------------
$color-black: #000000;
$color-white: #FFFFFF;

$color-pink: #8F00FF;

$color-grey-light: #EAEAEA;
$color-grey-dark: #272727;
$color-grey-darker: #1E1E1E;
