.button {
    @include font('extra-bold');
    display: inline-flex;
    height: $spacing-xl;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: $spacing-xxs $spacing-xs;
    border-radius: $spacing-xs;
    border: 3px solid;
    transition: $animation-colors-short, $animation-translations-short;

    &:focus,
    &:focus-visible {
        outline: solid 3px;
        outline-color: $color-light-mode-focus;
        outline-offset: 1px;
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
        outline: none;
    }

    &:active,
    &.pressed {
        transform: scale(.9);
    }

    .icon {
        width: $spacing-lg;
        height: auto;
        margin-left: $spacing-xs;
    }


    &.button--primary,
    &.button--secondary {
        width: 100%;

        @include mq('xs') {
            width: auto;
        }
    }

    &.button--primary {
        color: $color-light-mode-primary;
        fill: $color-light-mode-primary;
        background-color: $color-light-mode-tertiary;
        border-color: $color-light-mode-tertiary;
    }
    
    &.button--secondary {
        color: $color-light-mode-tertiary;
        fill: $color-light-mode-tertiary;
        background-color: $color-transparent;
        border-color: $color-light-mode-tertiary;
    }

    &.button--only-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color-light-mode-primary, .7);
        border-color: transparent;
        padding: 0;
        border-radius: 0;
        
        &:first-child {
            border-radius: 10px 0 0 10px;
        }

        &:last-child {
            border-radius: 0 10px 10px 0;
        }

        .icon {
            margin: 0;
        }
    }

    &.dark-mode {
        &.button--secondary {
            color: $color-dark-mode-secondary;
            fill: $color-dark-mode-secondary;
            background-color: $color-transparent;
            border-color: $color-dark-mode-secondary;
        }
    }
}