.button {
    @include font('extra-bold');
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    padding: $spacing-xxs;
    padding-right: $spacing-sm;
    border-radius: $spacing-xs;
    border: 3px solid;
    transition:  $animation-translations-short;

    .text {
        transition: transform .2s ease-in-out;
    }

    &:focus,
    &:focus-visible {
        outline: solid 3px;
        outline-color: $color-light-mode-focus;
        outline-offset: 1px;
        text-decoration: none;
    }

    &:hover,
    &:active {
        outline: none;

        .icon {
            transform: scale(1.2);
            // margin-right: $spacing-xs;
        }

        .text {
            transform: translateX(5px);
        }
    }

    .icon {
        width: $spacing-lg;
        height: auto;
        margin-right: $spacing-xxs;
        transition: all .2s ease-in-out
    }


    &.button--primary,
    &.button--secondary {
        width: 100%;

        @include mq('xs') {
            width: auto;
        }
    }

    &.button--primary {
        color: $color-light-mode-primary;
        fill: $color-light-mode-primary;
        background-color: $color-light-mode-tertiary;
        border-color: $color-light-mode-tertiary;

        &:hover {
            background-color: $color-light-mode-btn-hover;
            border-color: $color-light-mode-btn-hover;
        }

        &:active {
            background-color: $color-light-mode-btn-pressed;
            border-color: $color-light-mode-btn-pressed;
        }
    }
    
    &.button--secondary {
        color: $color-light-mode-tertiary;
        fill: $color-light-mode-tertiary;
        background-color: $color-transparent;
        border-color: transparent;
        text-decoration: underline;

        &:hover {
            background-color: $color-light-mode-bg;
            border-color: $color-light-mode-bg;
        }

        &:active {
            background-color: #dddddd;
            border-color: #dddddd;
        }
    }

    &.button--only-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color-light-mode-primary, .7);
        border-color: transparent;
        padding: 0;
        border-radius: 0;
        
        &:first-child {
            border-radius: 10px 0 0 10px;
        }

        &:last-child {
            border-radius: 0 10px 10px 0;
        }

        .icon {
            margin: 0;
        }
    }

    &.dark-mode {
        &.button--secondary {
            color: $color-dark-mode-secondary;
            fill: $color-dark-mode-secondary;

            &:hover {
                background-color: $color-dark-mode-bg;
                border-color: $color-dark-mode-bg;
            }
    
            &:active {
                background-color: #121212;
                border-color: #121212;
            }
        }
    }
}