.video {
    display: flex;
    position: relative;
    max-width: 100vh;
    margin: 0 auto;

    .image {
        width: 100%;
        z-index: 1;
    }

    video {
        width: 76%;
        height: 79%;
        left: 12%;
        top: 5%;
        position: absolute;
        object-fit: fit;
        background-color: black;
    }
}