.video {
    display: flex;
    position: relative;
    margin: 0 auto;

    &__macbook-overlay {
        width: 100%;
        z-index: 1;
        pointer-events: none;
    }

    video {
        width: 76%;
        height: 79%;
        left: 12%;
        top: 5%;
        position: absolute;
        object-fit: fit;
        background-color: black;
    }
}