$profile-picture-width-smartphone: 170px;
$profile-picture-width-tablet: 200px;
$profile-picture-width-desktop: 230px;

$image-overlap-mobile: 60px;
$image-overlap-desktop: 40px;


.header {
    display: flex;
    flex-direction: column;
    transition: background-color $timing-short ease-in-out, margin $timing-short ease-in-out, border-radius $timing-short ease-in-out;
    background-color: $color-light-mode-primary;
    overflow: hidden;
    
    @include mq('m') {
        border-radius: 10px;
        margin: $site-gutter-desktop;
    }
    
    &__cover {
        position: relative;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        padding: $spacing-lg;
        
        @include mq('m') {
            height: 350px;
        }
        
        &__darkmode-toggle,
        &__language-toggle {
            z-index: 2;
        }
        
        &__carousel {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            &__motion {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }
            
            .image {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }
        }
        
        &__btns {
            z-index: 3;
            position: absolute;
            bottom: $spacing-lg;
            right: $spacing-lg;
            display: flex;
            transition: bottom .3s ease-in-out;
            
            button {
                width: 40px;
                margin-left: 3px;
            }
        }
    }
    
    &__content {
        padding: 0 $site-gutter-mobile $site-gutter-mobile;
        transition:
            background-color $timing-short ease-in-out,
            $animation-translations-short,
            margin $timing-short ease-in-out
            ;
        z-index: 2;
        
        @include mq('m') {
            position: relative;
            display: flex;
        }
        
        &__profile {
            position: relative;
            margin-top: -$image-overlap-mobile;
            width: $profile-picture-width-smartphone;
            height: min-content;
            
            @include mq('m') {
                width: $profile-picture-width-tablet;
            }
            
            .image {
                width: 100%;
                border-radius: 50%;
                overflow: hidden;
                transition: $animation-size-short;
            }
            
            &__icon {
                position: absolute;
                right: 0;
                bottom: 0;
                overflow: hidden;
                background-color: $color-light-mode-primary;
                border: solid 4px $color-light-mode-primary;
                border-radius: 50%;
                transition: $animation-colors-short;
                
                svg {
                    width: 50px;
                    height: 50px;
                    transition: fill $timing-short ease-in-out;
                }
            }
        }
        
        &__text {
            display: flex;
            flex-direction: column;
            padding: $site-gutter-mobile $site-gutter-mobile 0;
            position: relative;
            text-align: left;
            flex: 1;
            background-color: transparent;
            
            @include mq('m') {
                padding: $spacing-lg $site-gutter-desktop 0;
            }

            &__name {
                @include font(extrabold);
                font-size: 40px;
                line-height: 1.1;
                margin-top: $spacing-md;
                
                @include mq('m') {
                    order: -1;
                    margin-top: 0;
                }
            }

            &__subtitle {
                position: relative;
                margin-right: -$site-gutter-mobile;
                margin-left: -$site-gutter-mobile;
                padding: 0 $site-gutter-mobile;
                display: flex;
                align-items:flex-start;
                @include font(medium);
                font-size: 5vw;
                text-transform: uppercase;
                color: $color-light-mode-grey;
                line-height: 1.2;
                overflow: hidden;
                white-space: nowrap;
                
                @include mq('xs') {
                    font-size: 20px;
                }

                @include mq('m') {
                    margin-top: $spacing-md;
                }
                
                &__animate {
                    position: relative;
                    height: 23px;
                    flex: 1;

                    span {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                }
            }

            &__contact {
                display: flex;
                margin-top: $spacing-md;
                
                p {
                    @include font(regular);
                    font-size: 30px;
                    margin-right: 30px;
                }
            }
        }
    }

    &.dark-mode {
        background-color: $color-dark-mode-primary;
        
        @include mq('m') {
            background-color: transparent;
        }

        .header__content {
            @include mq('m') {
                background-color: $color-dark-mode-primary;
            }

            &__profile__icon {
                background-color: $color-dark-mode-primary;
                border-color: $color-dark-mode-primary;
                
                svg {
                    fill: $color-dark-mode-secondary;
                }
            }
        }
    }
}